.one {
    height: 120px;
    width: 100vw;
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
}

.profilepic {
    height: 75px;
    width: 75px;
    background-color: rgb(78, 78, 212);
    margin-left: 20px;
}

.two {
    height: 240px;
    width: 95vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 40px;
}

.three {
    height: 200px;
    width: 100vw;
    background-color: rgb(81, 81, 202);
}

.four {
    height: 200px;
    width: 100vw;
    background-color: rgb(134, 215, 134);
}

.five {
    height: 200px;
    width: 100vw;
    background-color: rgb(120, 160, 120);
}

.six {
    height: 200px;
    width: 100vw;
    background-color: rgb(204, 230, 88);
    display: flex;
    justify-content: right;
    align-items: center;
}

.question-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 70px;
}

.question {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 30px;
}

